
.fondo{
    background-position: center;
    background-size: cover;
}

.container-main{
    background-color: transparent !important;
}
.container-login{
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(3px);
    z-index: 12;
}

footer {
    flex-shrink: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}
